<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body style="background-color: rgba(61, 61, 61, 0.486);">
    <h1 style="text-align: center; color: #ff0808ab;">Sudharshan Paul</h1>
    <h3 style="text-align: right;color: #fa8416;">A Machine Learning Enthusiast</h3>
    <b>Check out my Machine Learning content in my github:</b><a href="https://github.com/sudharshanpaul">Machine-Learning</a>

</body>
</html>

