<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center;color:cadetblue"> Enter your marks buddy...!</h1>
    <form action="/marksform" method="POST">
        <label for="C"> Enter C marks:</label>
        <input type="text" id="c" name="c" value=0><br> <br>
        <label for="Java"> Enter Java marks:</label>
        <input type="text" id="java" name="java" value="0"><br><br>
        <label for="Python"> Enter Python marks:</label>
        <input type="text" id="python" name="python" value=0><br><br>

        <input type="submit" value="Submit">

    </form>
</body>
</html>